<h1>Listing metas</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Subproceso</th>
    <th>Numero meta</th>
    <th>Usuario id created</th>
    <th>Usuario id updated</th>
  </tr>

<% @metas.each do |meta| %>
  <tr>
    <td><%=h meta.estado %></td>
    <td><%=h meta.subproceso %></td>
    <td><%=h meta.numero_meta %></td>
    <td><%=h meta.usuario_id_created %></td>
    <td><%=h meta.usuario_id_updated %></td>
    <td><%= link_to 'Show', meta %></td>
    <td><%= link_to 'Edit', edit_meta_path(meta) %></td>
    <td><%= link_to 'Destroy', meta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New meta', new_meta_path %>