<p>
  <b>Estado:</b>
  <%=h @meta.estado %>
</p>

<p>
  <b>Subproceso:</b>
  <%=h @meta.subproceso %>
</p>

<p>
  <b>Numero meta:</b>
  <%=h @meta.numero_meta %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @meta.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @meta.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_meta_path(@meta) %> |
<%= link_to 'Back', metas_path %>