      <span class="cerrar"> </span>
      <div class="error oculto">
        <p></p>
      </div>
      <div class="exito oculto">
        <p></p>
      </div>
      <h2 class="underlined margen_b_20 down"><%=h @buque.nombre_buque %>: <small class="rojo"><%=h delimitar(@buque.tonelaje_buque) %> tons.</small></h2>
      <div class="margen_b_20">
        <div class="margen_b_10 grid_12 alpha">
          <small class="tons caption">Capitán</small>
          <p><strong><%=h @buque.capitan_buque %></strong></p>
        </div>
        <div class="margen_b_10 grid_12">
          <small class="tons caption">Tipo de material</small>
          <p><strong><%=h @buque.tipo_materia.desc_tipo_materia %></strong></p>
        </div>
        <div class="clearfix"></div>
        <div class="margen_b_10 grid_12 alpha">
          <small class="tons caption">Proveedor</small>
          <p><strong><%=h @buque.proveedor_buque %></strong></p>
        </div>
        <div class="margen_b_10 grid_12">
          <small class="tons caption">Origen</small>
          <p><strong><%=h @buque.origen_buque %></strong></p>
        </div>
        <div class="clearfix"></div>
        <hr />
      </div>
      <form>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'atraque', '<strong>Atraque</strong>' %>
          <%= text_field_tag :fecha_atraque, @buque.atraque_fecha, { :disabled => campo_habilitado(buque.atraque_fecha), :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :autofocus => true } %>
          <%= text_field_tag :hora_atraque, @buque.atraque_hora, { :disabled => campo_habilitado(buque.atraque_hora), :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
      <% if @buque.tipo_materia_id != 1 %>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'inicio_descarga', '<strong>Inicio de descarga</strong>' %>
          <%= text_field_tag :fecha_inicio_descarga, @buque.inicio_fecha, { :disabled => campo_habilitado(buque.inicio_fecha), :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' } %>
          <%= text_field_tag :hora_inicio_descarga, @buque.inicio_hora, { :disabled => campo_habilitado(buque.inicio_hora), :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'fin_descarga', '<strong>Fin de descarga</strong>' %>
          <%= text_field_tag :fecha_fin_descarga, @buque.fin_fecha, { :disabled => campo_habilitado(buque.fin_fecha), :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' } %>
          <%= text_field_tag :hora_fin_descarga, @buque.fin_hora, { :disabled => campo_habilitado(buque.fin_hora), :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
      <% end %>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'desatraque', '<strong>Desatraque</strong>' %>
          <%= text_field_tag :fecha_desatraque, @buque.desatraque_fecha, { :disabled => campo_habilitado(buque.desatraque_fecha), :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' } %>
          <%= text_field_tag :hora_desatraque, @buque.desatraque_hora, { :disabled => campo_habilitado(buque.desatraque_hora), :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
        <div class="clearfix"></div>
        <div class="margen_b_10 derecha">
          <%= status_submit(@buque.atraque_fecha, @buque.inicio_fecha, @buque.fin_fecha, true) %> 
        </div>
      </form>
    <% if @buque.tipo_materia_id == 1 %>
      <h3 class="pequenio underlined down margen_b_20">Descarga de gabarras</h3>
      <div class="margen_b_20  prefix_1">
        <div class="margen_b_10 grid_12 alpha">
          <p class="caption tons">Gabarra</p>
          <p>ACBL-213</p>
        </div>
        <div class="margen_b_10 grid_12 omega">
          <p class="caption tons">Tonelaje</p>
          <p class="rojo">1.731,00 tons.</p>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 alpha">
          <p class="caption tons">Atraque y desatraque</p>
          <p>02/Ago. 00:00 - 02/Ago. 00:00</p>
        </div>
        <div class="grid_12 omega">
          <p class="caption tons">Operaciones de descarga</p>
          <p>02/Ago. 00:00 - 02/Ago. 00:00</p>
        </div>
        <div class="clearfix"></div>
        <hr />
        <h4 class="down margen_b_20">Reportar gabarra</h4>
        <div class="margen_b_20">
          <form class="descarga_buque_gabarra">
            <div>
              <p class="margen_b_10"><strong>Seleccione una gabarra</strong></p>
              <ul class="lista_lineal">
              <% @buque.gabarras.each do |gabarra| %>
                <li><%= radio_button_tag 'gabarra_id', gabarra.gabarra_id %><%= label_tag 'gabarra_id', gabarra.gabarra_id %></li>
              <% end %>
              </ul>
            </div>
            <div class="grid_12 margen_b_10">
              <%= label_tag 'equipo_id', '<strong>Equipo de descarga</strong>' %>
              <%= select_tag 'equipo_id', options_from_collection_for_select(@buque.equipos, 'id', 'nombre_equipo') %>
            </div>
            <div class="grid_12 margen_b_10">
              <label for="tonelaje"><strong>Tonelaje</strong></label>
              <input name="tonelaje" type="number" pattern="(^(([1-2]{1})).)?(\d{1}\d{1}\d{1})$" placeholder="0.000,00" class="margen_b_10">
            </div>
            <div class="clearfix"></div>
            <div class="grid_12 margen_b_10">
              <%= label_tag 'atraque_gabarra', '<strong>Atraque</strong>' %>
              <%= text_field_tag :gabarra_fecha_atraque, nil, { :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :name => 'gabarra[fecha_atraque]' } %>
              <%= text_field_tag :gabarra_hora_atraque, nil, { :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$', :name => 'gabarra[hora_atraque]' } %>
            </div>
            <div class="grid_12 margen_b_10">
              <%= label_tag 'inicio_descarga_gabarra', '<strong>Inicio de descarga</strong>' %>
              <%= text_field_tag :gabarra_fecha_inicio_descarga, nil, { :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :name => 'gabarra[fecha_inicio_descarga]' } %>
              <%= text_field_tag :gabarra_hora_inicio_descarga, nil, { :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$', :name => 'gabarra[hora_inicio_descarga]' } %>
            </div>
            <div class="clearfix"></div>
            <div class="grid_12 margen_b_10">
              <%= label_tag 'fin_descarga_gabarra', '<strong>Fin de descarga</strong>' %>
              <%= text_field_tag :gabarra_fecha_fin_descarga, nil, { :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :name => 'gabarra[fecha_fin_descarga]' } %>
              <%= text_field_tag :gabarra_hora_fin_descarga, nil, { :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$', :name => 'gabarra[hora_fin_descarga]' } %>
            </div>
            <div class="grid_12 margen_b_10">
              <%= label_tag 'atraque_gabarra', '<strong>Atraque</strong>' %>
              <%= text_field_tag :gabarra_fecha_desatraque, nil, { :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :name => 'gabarra[fecha_desatraque]' } %>
              <%= text_field_tag :gabarra_hora_desatraque, nil, { :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$', :name => 'gabarra[hora_desatraque]' } %>
            </div>
            <div class="clearfix derecha">
              <%= submit_tag 'Enviar', :name => 'submit_descarga', :id => 'buque_' + @buque.id.to_s + '_submit_descarga', :class => 'green pequenio', 'data-buque' => @buque.id %>
            </div>
          </form>
        </div>
      </div>
    <% end %>
      <h3 class="pequenio underlined down margen_b_20 oculto">Observaciones y acaecimientos</h3>
      <div class="margen_b_20  prefix_1 oculto">
        <div class="historial_eventos" data-descarga-id="">
          <p class="margen_b_10">Novedad</p>
          <small><span class="rojo">  - </span>  |  </small>
          <hr />
        </div>
        <%= render :partial => "novedades/new_acaecimiento", :locals => { :embarque => @buque } %>
      </div>