      <span class="cerrar"> </span>
      <div class="error oculto">
        <p></p>
      </div>
      <div class="exito oculto">
        <p></p>
      </div>
      <h2 class="underlined margen_b_20 down"><%=h @gabarra.gabarra_id %>: <span class="rojo"><%=h delimitar(@gabarra.tone_transportada) %> tons.</span></h2>
      <div class="margen_b_20">
        <div class="grid_5 alpha margen_b_10">
          <p class="caption tons">Humedad</p>
          <p class="destacado"><%=h porcentual(@gabarra.humedad) %>%</p>
        </div>
        <div class="grid_5 alpha margen_b_10">
          <p class="caption tons">Al<sub>2</sub>O<sub>2</sub></p>
          <p class="destacado"><%=h porcentual(@gabarra.al2o3) %>%</p>
        </div>
        <div class="grid_5 alpha margen_b_10">
          <p class="caption tons">Fe<sub>2</sub>O<sub>3</sub></p>
          <p class="destacado"><%=h porcentual(@gabarra.fe2o3) %>%</p>
        </div>
        <div class="grid_5 alpha margen_b_10">
          <p class="caption tons">S. reactivo</p>
          <p class="destacado"><%=h porcentual(@gabarra.sio2r) %>%</p>
        </div>
        <div class="grid_5 alpha margen_b_10">
          <p class="caption tons">S. quarzo</p>
          <p class="destacado"><%=h porcentual(@gabarra.sio2q) %>%</p>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 alpha">
          <p class="caption tons">Procedencia del mineral</p>
          <p class="destacado"><%=h @gabarra.tipo_carga %></p>
        </div>
        <div class="grid_12 omega">
          <p class="caption tons">Tipo de muestreo</p>
          <p class="destacado"><%=h @gabarra.muestreo %></p>
        </div>
        <div class="clearfix"></div>
        <hr />
      </div>
      <form>
        <div class="grid_12 margen_b_10" data-arribo="<%=h @gabarra.arribo %>">
          <%= label_tag 'atraque', '<strong>Atraque</strong>' %>
          <%= text_field_tag :fecha_atraque, @gabarra.atraque_fecha, { :disabled => campo_habilitado(gabarra.atraque_fecha), :class => 'margen_b_10', :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :autofocus => true } %>
          <%= text_field_tag :hora_atraque, @gabarra.atraque_hora, { :disabled => campo_habilitado(gabarra.atraque_hora), :class => 'margen_b_10', :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'equipo_id', '<strong>Equipo de descarga</strong>' %>
          <%= select_tag 'equipo_id', options_from_collection_for_select(@gabarra.equipos, 'id', 'nombre_equipo', gabarra.equipo_id), :disabled => campo_habilitado(gabarra.equipo_id) %>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'inicio_descarga', '<strong>Inicio de descarga</strong>' %>
          <%= text_field_tag :fecha_inicio_descarga, @gabarra.inicio_fecha, { :disabled => campo_habilitado(gabarra.inicio_fecha), :class => 'margen_b_10', :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' } %>
          <%= text_field_tag :hora_inicio_descarga, @gabarra.inicio_hora, { :disabled => campo_habilitado(gabarra.inicio_hora), :class => 'margen_b_10', :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'fin_descarga', '<strong>Fin de descarga</strong>' %>
          <%= text_field_tag :fecha_fin_descarga, @gabarra.fin_fecha, { :disabled => campo_habilitado(gabarra.fin_fecha), :class => 'margen_b_10', :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' } %>
          <%= text_field_tag :hora_fin_descarga, @gabarra.fin_hora, { :disabled => campo_habilitado(gabarra.fin_hora), :class => 'margen_b_10', :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 margen_b_10">
          <%= label_tag 'desatraque', '<strong>Desatraque</strong>' %>
          <%= text_field_tag :fecha_desatraque, @gabarra.desatraque_fecha, { :disabled => campo_habilitado(gabarra.desatraque_fecha), :class => 'margen_b_10', :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' } %>
          <%= text_field_tag :hora_desatraque, @gabarra.desatraque_hora, { :disabled => campo_habilitado(gabarra.desatraque_hora), :class => 'margen_b_10', :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' } %>
        </div>
        <div class="grid_12 margen_b_10 margen_t_20">
          <%= status_submit(@gabarra.atraque_fecha, @gabarra.inicio_fecha, @gabarra.fin_fecha) %> 
        </div>
        <div class="clearfix"></div>
      </form>
    <% unless @gabarra.atraque_fecha.nil? %>
      <h3 class="pequenio underlined down margen_b_20">Observaciones y acaecimientos</h3>
      <div class="margen_b_20  prefix_1">
    <% else %>
      <h3 class="pequenio underlined down margen_b_20 oculto">Observaciones y acaecimientos</h3>
      <div class="margen_b_20  prefix_1 oculto">
    <% end %>
        <div class="historial_eventos" data-descarga-id="<%=h gabarra.descarga_id %>">
      <% unless @gabarra.novedades.nil? %>
        <% @gabarra.novedades.each do |novedad| %>
          <p class="margen_b_10"><%=h novedad.desc_novedad %></p>
          <small><span class="rojo"><%=h l novedad.inicio_novedad, :format => :dia_mes %> - <%=h l novedad.fin_novedad, :format => :dia_mes %></span>  |  <%=h novedad.creator_id %></small>
          <hr />
        <% end %>
      <% end %>
        </div>
        <%= render "novedades/new_acaecimiento" %>
      </div>