<% titulo 'Arribos de material' %>
  <h1>Arribos de material</h1>
  <article class="grid_15">
  <% @baxes.each do |bax| %>
    <h2 class="underlined down margen_b_20">BAX: <%=h bax.id %></h2>
    <div class="prefix_1 wrapper">
      <div class="grid_12 alpha margen_b_10">
        <small>Motoempujador:</small>
        <p class="destacado margen_b_10"><%=h bax.cod_remo %></p>
        <small>Empresa:</small>
        <p class="destacado margen_b_10"><%=h bax.cod_emp %></p>
        <small>Capitán:</small>
        <p class="destacado margen_b_10"><%=h bax.nombre_capitan %></p>
      </div>
      <div class="grid_12 omega margen_b_10">
        <small>Fecha de zarpe:</small>
        <p class="destacado margen_b_10"><%=h bax.fecha_hora_zarpe %></p>
        <small>Fecha estimada de llegada:</small>
        <p class="destacado margen_b_10"></p>
        <small>Peso:</small>
        <p class="destacado margen_b_10 rojo"><%=h bax.carga_transportar %> tons.</p>
        <div class="derecha">
          <input type="button" class="blue reportar_arribo" value="Reportar arribo" data-bax="<%=h bax.id %>" />
        </div>
      </div>
      <div class="clearfix"></div>
      <h3 class="pequenio down">Gabarras (<%=h bax.cant_gabarras %>)</h3>
      <ul class="margen_b_30 gabarras">
        <li title="<p>Peso: <strong>1.731 tons.</strong></p><p>Al<sub>2</sub>O<sub>2</sub>: 95%</p><p>Humedad: <strong>25%</strong></p>" data-gabarra="ACBL-213">ACBL-213</li>
      </ul>
    </div>
  <% end %>
  </article>
  <aside class="grid_9">
  </aside>
  <div class="clearfix"></div>
