<h1>New estatus_gabarra</h1>

<% form_for(@estatus_gabarra) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :desc_estatus_gabarra %><br />
    <%= f.text_field :desc_estatus_gabarra %>
  </p>
  <p>
    <%= f.label :usuario_id_created %><br />
    <%= f.text_field :usuario_id_created %>
  </p>
  <p>
    <%= f.label :usuario_id_updated %><br />
    <%= f.text_field :usuario_id_updated %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', estatus_gabarras_path %>