<p>
  <b>Estado:</b>
  <%=h @estatus_gabarra.estado %>
</p>

<p>
  <b>Desc estatus gabarra:</b>
  <%=h @estatus_gabarra.desc_estatus_gabarra %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @estatus_gabarra.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @estatus_gabarra.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_estatus_gabarra_path(@estatus_gabarra) %> |
<%= link_to 'Back', estatus_gabarras_path %>