<header class="row-fluid">
  <h3>
    Gabarras: BAX <%= bax_id.replace(/-/, '/') %>
    <small>(<%= cantidad %>)</small>
  </h3>

  <i class="fa-icon-remove" title="Cerrar ventana de gabarras y descargas"></i>
</header>

<section id="gabarras">
  <section id="gabarras-<%= bax_id %>">
    <ul id="leyenda">
      <li class="navegando">Navegando</li>
      <li class="esperando">En espera</li>
      <li class="atracada">Atracada</li>
      <li class="descargando">Descargando</li>
      <li class="descargada">Descargada</li>
      <li class="desatracada">Desatracada</li>
    </ul>

    <ul id="gabarras-list" class="gabarras">
      <% for (i = 0; i < cantidad; i++) { %>
        <li rel="tooltip" id="gabarra-<%= bax_id %>-<%= gabarras[i].gabarra_id %>" data-original-title="<%= gabarras[i].gabarra_id %>" data-type="view-gabarra" data-bax-gabarra-id="<%= bax_id %>-<%= gabarras[i].gabarra_id %>" class="<%= arribo ? '' : 'deshabilitada' %>" data-url="<%= gabarras[i].url %>">
          <span class="<%= EJS.Helpers.prototype.estatus(arribo, gabarras[i]) %>"></span>
          <%= gabarras[i].gabarra_id %>
        </li>
      <% } %>
    </ul>
  </section>

  <section class="descargas" id="descargas-<%= bax_id %>">
    <h4>Descargas</h4>
  </section>
</section>