<p>
  <b>Estado:</b>
  <%=h @tipo_transporte.estado %>
</p>

<p>
  <b>Desc tipo transporte:</b>
  <%=h @tipo_transporte.desc_tipo_transporte %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @tipo_transporte.usuario_id_created %>
</p>

<p>
  <b>Usuario id update:</b>
  <%=h @tipo_transporte.usuario_id_update %>
</p>


<%= link_to 'Edit', edit_tipo_transporte_path(@tipo_transporte) %> |
<%= link_to 'Back', tipo_transportes_path %>