        <h4 class="down margen_b_10">Reportar acaecimiento</h4>
        <div>
          <% form_tag("/descargar/evento/", :method => :post, :class => 'evento') do %>
            <div class="grid_12 margen_b_20 alpha">
              <%= label_tag 'inicio_acaecimiento', '<strong>Inicio de acaecimiento</strong>' %>
              <%= text_field_tag :fecha_inicio_acaecimiento, nil, :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :autofocus => true %>
              <%= text_field_tag :hora_inicio_acaecimiento, nil, :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' %>
            </div>
            <div class="grid_12 margen_b_20 omega">
              <%= label_tag 'fin_acaecimiento', '<strong>Fin de acaecimiento</strong>' %>
              <%= text_field_tag :fecha_fin_acaecimiento, nil, :type => 'date', :size => 7, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d' %>
              <%= text_field_tag :hora_fin_acaecimiento, nil, :type => 'time', :size => 3, :placeholder => 'hh:mm', :pattern => '^([01]\d|2[0-3]|[0-9])(:[0-5]\d)$' %>
            </div>
            <div class="clearfix"></div>
            <%= label_tag 'observacion_acaecimiento', '<strong>Descripción</strong>' %>
            <%= text_area_tag 'observacion_acaecimiento', nil, :rows => nil, :cols => nil, :class => 'margen_b_10', :placeholder => 'Descripción del evento' %>
          <% if embarque.class.name == 'BaxGabarra' %>
            <%= submit_tag 'Enviar', :name => 'submit_acaecimiento', :id => 'submit_acaecimiento', :class => 'green pequenio', 'data-bax' => embarque.bax_id, 'data-gabarra' => embarque.gabarra_id %>
          <% elsif embarque.class.name == 'Buque' %>
            <%= submit_tag 'Enviar', :name => 'submit_acaecimiento', :id => 'submit_acaecimiento', :class => 'green pequenio', 'data-buque-id' => embarque.id %>
          <% end %>
          <% end %>
        </div>