- titulo 'Novedades y acaecimientos de procesos'

- @novedades.each do |n|
  %article{ :id => "novedad-#{n.id}" }
    %aside 
      %time{:datetime => n.inicio_novedad.to_datetime}= l n.inicio_novedad.to_datetime, :format => :fecha_hora_mil
      – 
      %time{:datetime => n.fin_novedad.to_datetime}= l n.fin_novedad.to_datetime, :format => :fecha_hora_mil

    %p= n.desc_novedad
    %small= n.user.empleado.nombre_completo