<h1>Listing silos</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Nombre silo</th>
    <th>Usuario id created</th>
    <th>Usuario id update</th>
  </tr>

<% @silos.each do |silo| %>
  <tr>
    <td><%=h silo.estado %></td>
    <td><%=h silo.nombre_silo %></td>
    <td><%=h silo.usuario_id_created %></td>
    <td><%=h silo.usuario_id_update %></td>
    <td><%= link_to 'Show', silo %></td>
    <td><%= link_to 'Edit', edit_silo_path(silo) %></td>
    <td><%= link_to 'Destroy', silo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New silo', new_silo_path %>