<h1>Listing subprocesos</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Proceso</th>
    <th>Nombre subproceso</th>
    <th>Usuario id created</th>
    <th>Usuario id updated</th>
  </tr>

<% @subprocesos.each do |subproceso| %>
  <tr>
    <td><%=h subproceso.estado %></td>
    <td><%=h subproceso.proceso %></td>
    <td><%=h subproceso.nombre_subproceso %></td>
    <td><%=h subproceso.usuario_id_created %></td>
    <td><%=h subproceso.usuario_id_updated %></td>
    <td><%= link_to 'Show', subproceso %></td>
    <td><%= link_to 'Edit', edit_subproceso_path(subproceso) %></td>
    <td><%= link_to 'Destroy', subproceso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New subproceso', new_subproceso_path %>