<p>
  <b>Estado:</b>
  <%=h @tipo_materia.estado %>
</p>

<p>
  <b>Desc tipo materia:</b>
  <%=h @tipo_materia.desc_tipo_materia %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @tipo_materia.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @tipo_materia.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_tipo_materia_path(@tipo_materia) %> |
<%= link_to 'Back', tipo_materias_path %>