<% titulo 'Panel de configuración' %>
  <h1 class="hasIcono panel_conf">Panel de configuración</h1>
  <article class="grid_15">
    <div class="wrapper">
      <%= render "alarmas/index" %>
    </div>
    <div class="wrapper">
      <%= render "empresas/index" %>
    </div>
    <div class="clearfix"></div>
  </article>
  <aside class="grid_9">
    <div class="wrapper">
      
    </div>
  </aside>
  <div class="clearfix"></div>
<% content_for :jquery_scripts do %>
  <script>
    $(document).ready(function() {
      // * * * * * * * * * * * * * * * ALARMAS * * * * * * * * * * * * * * * //
      
      // Control para editar alarmas
      $('a[href="#edit_alarma"]').live('click', function(e) {
        e.preventDefault();
        var fila = $('#alarmas tbody tr:eq(' + $(this).closest('tr').index() + ')'),
             alarma_id = $(this).closest('td').attr('alarma'),
             nombre_alarma = $(this).closest('tr').children('td:eq(1)').text(),
             editRow = '<%= escape_javascript( render(:partial => "alarmas/edit") ) %>';
                      
        fila.addClass('editar_alarma').html(editRow);        
        fila.find('input[name="nombre_alarma"]').val(nombre_alarma);
        
        $('a[href="#save_edit_alarma"]').live('click', function(e) {
          e.preventDefault();
          var estado_edit = fila.find('select[name*="activo"]').val(),
              nombre_alarma_edit = fila.find('input[name="nombre_alarma"]').val(),
              alarma = {},
              hash = {};
          
          if(nombre_alarma_edit) {            
            hash = {
              alarma: {
                id: alarma_id,
                activo: estado_edit,
                nombre_alarma: nombre_alarma_edit,
                usuario_id_updated: ficha
              }
            }; 
          }        
          
          Ajax(true, hash, "json", false, "PUT", "alarmas/" + alarma_id, "#alarmas");
          
          $('#alarmas').parent().load('alarmas');
          
        });
      });
      
      // Control para nuevas alarmas
      $('a[href="#new_alarma"]').click(function() {        
        $('#alarmas tbody').append('<%= escape_javascript( render(:partial => "alarmas/create") ) %>');
        
        // Remueve, luego de hacer click en el link DELETE, 
        // la nueva fila de la tabla.
        $('a[href="#delete_new_alarma"]').click(function(e) {
          e.preventDefault();
          $(this).removeFila();          
        });
      });
      
      // Envia a través de AJAX un JSON con las nuevas alarmas
      $('#save_new_alarmas').live('click', function() {
        $('.nueva_alarma').each(function() {
          var estado = $(this).find('selec[name*="activo"]').val(),
              nombre_alarma = $(this).find('input[name="nombre_alarma"]').val(),
              alarma = {},
              objAux = {};
                       
          if(nombre_alarma) {            
            objAux = {
              alarma: {
                activo: estado,
                nombre_alarma: nombre_alarma,
                usuario_id_created: ficha
              }
            };
          }
          
          Ajax(true, objAux, "json", false, "POST", "alarmas/create/", "#alarmas");          
        });
        
        $('#alarmas').parent().load('alarmas');
        
        return false;      
      });
      
      // Remueve, luego de hacer click en el link 'Cancelar', 
      // las nuevas filas de la tabla que tengan la clase .nueva_alarma.
      $('#cancel_new_alarmas').live('click', function(e) {
        e.preventDefault();
        $(this).removeNuevos('.nueva_alarma');
        
        // Ocultamos los botones
        $(this).hideButtons();
        
        return false;
      });
      
      // Modifica el estado de la alarma
      $('a[href="#estado_alarma"]').live('click', function(e) {
        e.preventDefault();
        $(this).modEstado('alarmas');
      });
      
      // * * * * * * * * * * * * * * * EMPRESAS * * * * * * * * * * * * * * * //
      
      // Control para editar empresas
      $('a[href="#edit_empresa"]').live('click', function(e) {
        e.preventDefault();
        var fila = $('#empresas tbody tr:eq(' + $(this).closest('tr').index() + ')'),
             empresa_id = $(this).closest('td').attr('empresa'),
             nombre_empresa = $(this).closest('tr').children('td:eq(1)').text(),
             pais_empresa = $(this).closest('tr').children('td:eq(2)').text(),
             responsable_empresa = $(this).closest('tr').children('td:eq(3)').text(),
             editRow = '<%= escape_javascript( render(:partial => "empresas/edit") ) %>';
                      
        fila.addClass('editar_empresa').html(editRow);        
        fila.find('input[name="nombre_empresa"]').val(nombre_empresa);
        fila.find('input[name="pais_empresa"]').val(pais_empresa);
        fila.find('input[name="responsable_empresa"]').val(responsable_empresa);
        
        $('a[href="#save_edit_empresa"]').live('click', function(e) {
          e.preventDefault();
          var estado_edit = fila.find('select[name*="activo"]').val(),
              nombre_empresa_edit = fila.find('input[name="nombre_empresa"]').val(),
              pais_empresa_edit = fila.find('input[name="pais_empresa"]').val(),
              responsable_empresa_edit = fila.find('input[name="responsable_empresa"]').val(),
              empresa = {},
              hash = {};
          
          if(nombre_empresa_edit) {            
            hash = {
              empresa: {
                id: empresa_id,
                activo: estado_edit,
                nombre_empresa: nombre_empresa_edit,
                pais_empresa: pais_empresa_edit,
                responsable_empresa: responsable_empresa_edit,
                usuario_id_updated: ficha
              }
            }; 
          }        
          
          Ajax(true, hash, "json", false, "PUT", "empresas/" + empresa_id, "#empresas");
          
          $('#empresas').parent().load('empresas');
          
        });
      });
      
      // Control para nuevas empresas
      $('a[href="#new_empresa"]').click(function() {        
        $('#empresas tbody').append('<%= escape_javascript( render(:partial => "empresas/create") ) %>');
        
        // Remueve, luego de hacer click en el link DELETE, 
        // la nueva fila de la tabla.
        $('a[href="#delete_new_empresa"]').click(function(e) {
          e.preventDefault();
          $(this).removeFila();           
        });
      });
      
      // Envia a través de AJAX un JSON con las nuevas empresas
      $('#save_new_empresas').live('click', function() {
        $('.nueva_empresa').each(function() {
          var estado = $(this).find('selec[name*="activo"]').val(),
              nombre_empresa = $(this).find('input[name="nombre_empresa"]').val(),
              pais_empresa = $(this).find('input[name="pais_empresa"]').val(),
              responsable_empresa = $(this).find('input[name="responsable_empresa"]').val(),
              empresa = {},
              objAux = {};
                       
          if(nombre_empresa) {            
            objAux = {
              empresa: {
                activo: estado,
                nombre_empresa: nombre_empresa,
                pais_empresa: pais_empresa,
                responsable_empresa: responsable_empresa,
                usuario_id_created: ficha
              }
            };
          }
          
          Ajax(true, objAux, "json", false, "POST", "empresas/create/", "#empresas");          
        });
        
        $('#empresas').parent().load('empresas');
        
        return false;      
      });
      
      // Remueve, luego de hacer click en el link 'Cancelar', 
      // las nuevas filas de la tabla que tengan la clase .nueva_empresa.
      $('#cancel_new_empresas').live('click', function(e) {
        e.preventDefault();
        if ($('.nueva_empresa').children('input[type="text"]').val() == null) {
          $('.nueva_empresa').fadeOut('normal', function() {
            $(this).remove();
          });
        }
        
        // Ocultamos los botones
        $(this).hideButtons();
        
        return false;
      });
      
      // Modifica el estado de la empresa
      $('a[href="#estado_empresa"]').live('click', function(e) {
        e.preventDefault();
        $(this).modEstado('empresas');
      });      

    });
  </script>
<% end %>
