<p>
  <b>Estado:</b>
  <%=h @rol.estado %>
</p>

<p>
  <b>Nombre rol:</b>
  <%=h @rol.nombre_rol %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @rol.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @rol.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_rol_path(@rol) %> |
<%= link_to 'Back', rols_path %>