<p>
  <b>Estado:</b>
  <%=h @tolva.estado %>
</p>

<p>
  <b>Desc tolva:</b>
  <%=h @tolva.desc_tolva %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @tolva.usuario_id_created %>
</p>

<p>
  <b>Usuario id update:</b>
  <%=h @tolva.usuario_id_update %>
</p>


<%= link_to 'Edit', edit_tolva_path(@tolva) %> |
<%= link_to 'Back', tolvas_path %>