<% titulo 'Buques de material: editar buque' %>
  <article class="grid_24">
  <h1>Editar buque: <%=h @buque.nombre_buque %></h1>
    <%= form_for(@buque) do |f| %>
      <%= f.error_messages %>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :nombre_buque, '<strong>Nombre del buque:</strong>' %>
        <%= f.text_field :nombre_buque, :placeholder => 'Nombre del buque', :class => 'largo' %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :tipo_materia_id, '<strong>Tipo de material:</strong>' %>
        <%= f.select :tipo_materia_id, options_from_collection_for_select(@buque.tipos_materiales, 'id', 'desc_tipo_materia', @buque.tipo_materia_id) %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :origen_buque, '<strong>Origen:</strong>' %>
        <%= select_tag :buque_origen_buque, @buque.paises, :name => 'buque[origen_buque]' %>
      </div>
      <div class="clearfix"></div>
      <div class="grid_8 margen_b_10 alpha alpha">
        <%= f.label :capitan_buque, '<strong>Capitán del buque:</strong>' %>
        <%= f.text_field :capitan_buque, :placeholder => 'Capitán del buque', :class => 'largo' %>
      </div>
      <div class="grid_8 margen_b_10 alpha alpha">
        <%= f.label :proveedor_buque, '<strong>Proveedor:</strong>' %>
        <%= f.text_field :proveedor_buque, :placeholder => 'Proveedor de material', :class => 'largo' %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :tonelaje_buque, '<strong>Cantidad de toneladas métricas:</strong>' %>
        <%= f.text_field :tonelaje_buque, :placeholder => '0,00', :pattern => '\d{1,}.?\d{3,}((,|.)\d{2})?', :type => 'number', :min => 1000, :class => 'largo' %>
      </div>
      <div class="clearfix"></div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :fecha_zarpe_buque, '<strong>Fecha de zarpe:</strong>' %>
        <%= text_field_tag :buque_fecha_zarpe_buque, @buque.fecha_zarpe_buque, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :type => 'date', :class => 'largo', :name => 'buque[fecha_zarpe_buque]' %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :eta_mtz_buque, '<strong>Fecha estimada de arribo:</strong>' %>
        <%= text_field_tag :buque_eta_mtz_buque, @buque.eta_mtz_buque, :placeholder => 'dd/mm/aaaa', :pattern => '(([1-9]|0[1-9]|[12]\d)/([1-9]|0[1-9]|1[012])|30/(0[13-9]|1[012])|31/(0[13578]|1[02]))/(19|20)\d\d', :type => 'date', :class => 'largo', :name => 'buque[eta_mtz_buque]' %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :condicion_buque, '<strong>Condición actual del buque:</strong>' %>
        <%= f.text_field :condicion_buque, :placeholder => 'Condición del buque', :class => 'largo' %>
      </div>
      <div class="clearfix"></div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :tiempo_permitido_buque, '<strong>Tiempo permitido:</strong>' %>
        <%= f.text_field :tiempo_permitido_buque, :placeholder => '0,00', :pattern => '\d{1,}.?\d{2,}((,|.)\d{2})?', :type => 'number', :class => 'largo' %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :rata_permitida_buque, '<strong>Rata permitida:</strong>' %>
        <%= f.text_field :rata_permitida_buque, :placeholder => '0,00', :pattern => '\d{1,}.?\d{2,}(,\d{2})?', :type => 'number', :min => 1, :class => 'largo' %>
      </div>
      <div class="grid_8 margen_b_10 alpha">
        <%= f.label :pago_demora_buque, '<strong>Pago por demora:</strong>' %>
        <%= f.text_field :pago_demora_buque, :placeholder => '0,00', :pattern => '\d{1,}.?\d{2,}(,\d{2})?', :type => 'number', :min => 1000, :class => 'largo' %>
      </div>
      <div class="clearfix"></div>
      <div class="margen_b_20">
        <%= f.label :observaciones_buque, '<strong>Observaciones:</strong>' %>
        <%= f.text_area :observaciones_buque, :placeholder => 'Observaciones del buque', :rows => 7 %>
      </div>
      <%= f.submit 'Guardar', :class => 'green' %>
      <%= f.submit 'Cancelar', :class => 'cancel', :type => 'reset' %>
    <% end %>
  </article>
  <div class="clearfix"></div>
