<p>
  <b>Estado:</b>
  <%=h @stock_gabarra.estado %>
</p>

<p>
  <b>Locacion:</b>
  <%=h @stock_gabarra.locacion %>
</p>

<p>
  <b>Estatus gabarra:</b>
  <%=h @stock_gabarra.estatus_gabarra %>
</p>

<p>
  <b>Cod gabarra:</b>
  <%=h @stock_gabarra.cod_gabarra %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @stock_gabarra.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @stock_gabarra.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_stock_gabarra_path(@stock_gabarra) %> |
<%= link_to 'Back', stock_gabarras_path %>