%section#unloads
  = render 'leyenda_gabarras' 

  %article.gabarras-list{ :id => "gabarras-#{@bax_gabarras.first.bax_id}" }
    %header.row-fluid
      %h3 
        Gabarras 
        %small= "(#{@bax_gabarras.size})"

      %i.fa-icon-remove{ :title => 'Cerrar ventana de gabarras y descargas' }

    %ul.gabarras
      - for gabarra in @bax_gabarras do
        %li{ :rel => 'tooltip', 'data-original-title' => gabarra.gabarra_id, 'data-type' => 'descargar' } 
          = image_tag 'anchor.png', :height => 30, :alt => 'Cualquier vaina'
          = gabarra.gabarra_id

    %section.descargas{ :id => "descargas-#{@bax_gabarras.first.bax_id}" }
      %h4 
        Descargas
        %small (2)

      %section.descarga.row-fluid{ :id => "gabarra-#{@bax_gabarras.first.bax_id}-", 'data-bax-id' => '#{@bax_gabarras.first.bax_id}', 'data-gabarra-id' => '', 'data-arribo-id' => '' }
        %span.fa-icon-remove-sign{ :title => 'Cerrar ventana de descarga' }

        %section.phi-side
          %h5 ACBL-212

          .analisis.row
            .span6
              %h6 peso
              %p 9.000,00 tons.

              %h6 
                al
                %sub>2
                o
                %sub>2
              %p 9%

              %h6 s. reactivo
              %p 25%

              %h6 muestreo
              %p Automático

            .span6.alpha
              %h6 humedad
              %p 25%

              %h6 
                fe
                %sub>2
                o
                %sub>3
              %p 9%

              %h6 s. cuarzo
              %p 25%

              %h6 procedencia
              %p Bypass / Jobal

          .novedades
            %h6 
              Novedades
              %span.badge.badge-important 2

            .novedad
              %p 
                Now that there is the Tec-9, a crappy spray gun from South Miami. 
                %a ...
              %span.meta-data 15/Jun. – 16/Jun.

            .novedad
              %p 
                Now that there is the Tec-9, a crappy spray gun from South Miami. 
                %a ...
              %span.meta-data 15:32 – 16:29

            %button.btn.btn-mini{ 'data-type' => 'show-novedades', 'data-bax-id' => '002-2011', 'data-gabarra-id' => 'ACBL-212' } 
              %i.fa-icon-folder-open 
              Leer más

            %button.btn.btn-mini{ 'data-type' => 'post-novedad', 'data-bax-id' => '002-2011', 'data-gabarra-id' => 'ACBL-212' } 
              %i.fa-icon-file 
              Reportar

        %section.phi-main
          %form
            .control-group
              %label.control-label{ :for => "equipo" } Equipo de descarga
              .controls
                %select#equipo_id
                  %option Eliga un equipo
                  %option{ :value => 1 } FS1
                  %option{ :value => 2 } FS2

            .control-group
              %label.control-label{ :for => "atraque" } Atraque de gabarra
              .controls
                .input-append
                  %input#fecha-atraque.inline.fecha{ :type => :datetime, 'data-date-format' => 'dd/mm/yyyy', 'data-date' => Date.today.to_s(:fecha), :placeholder => Date.today.to_s(:fecha) }
                  %span.add-on.fa-icon-calendar

                  %input#hora-atraque.inline.hora{ :type => :time, 'data-provide' => :timepicker }
                  %span.add-on.fa-icon-time

            .control-group
              %label.control-label{ :for => "atraque" } Inicio de descarga
              .controls
                .input-append
                  %input#fecha-atraque.inline.fecha{ :type => :datetime, 'data-date-format' => 'dd/mm/yyyy', 'data-date' => Date.today.to_s(:fecha), :placeholder => Date.today.to_s(:fecha) }
                  %span.add-on.fa-icon-calendar

                  %input#hora-atraque.inline.hora{ :type => :time, 'data-provide' => :timepicker }
                  %span.add-on.fa-icon-time

            .control-group
              %label.control-label{ :for => "atraque" } Fin de descarga
              .controls
                .input-append
                  %input#fecha-atraque.inline.fecha{ :type => :datetime, 'data-date-format' => 'dd/mm/yyyy', 'data-date' => Date.today.to_s(:fecha), :placeholder => Date.today.to_s(:fecha) }
                  %span.add-on.fa-icon-calendar

                  %input#hora-atraque.inline.hora{ :type => :time, 'data-provide' => :timepicker }
                  %span.add-on.fa-icon-time

            .control-group
              %label.control-label{ :for => "atraque" } Desatraque de gabarra
              .controls
                .input-append
                  %input#fecha-atraque.inline.fecha{ :type => :datetime, 'data-date-format' => 'dd/mm/yyyy', 'data-date' => Date.today.to_s(:fecha), :placeholder => Date.today.to_s(:fecha) }
                  %span.add-on.fa-icon-calendar

                  %input#hora-atraque.inline.hora{ :type => :time, 'data-provide' => :timepicker }
                  %span.add-on.fa-icon-time

            %button.btn.btn-primary.btn-small{ :type => :submit }
              %i.fa-icon-ok-circle
              Enviar

            %button.btn.btn-danger.btn-small{ 'data-type' => 'delete-descarga-bauxita' } 
              %i.fa-icon-remove-circle
              Eliminar descarga
