<h1>Listing fallas</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Equipo</th>
    <th>Alarma</th>
    <th>Tipo falla</th>
    <th>Fecha inicio falla</th>
    <th>Fecha fin falla</th>
    <th>Observaciones falla</th>
    <th>Usuario id created</th>
    <th>Usuario id update</th>
  </tr>

<% @fallas.each do |falla| %>
  <tr>
    <td><%=h falla.estado %></td>
    <td><%=h falla.equipo %></td>
    <td><%=h falla.alarma %></td>
    <td><%=h falla.tipo_falla %></td>
    <td><%=h falla.fecha_inicio_falla %></td>
    <td><%=h falla.fecha_fin_falla %></td>
    <td><%=h falla.observaciones_falla %></td>
    <td><%=h falla.usuario_id_created %></td>
    <td><%=h falla.usuario_id_update %></td>
    <td><%= link_to 'Show', falla %></td>
    <td><%= link_to 'Edit', edit_falla_path(falla) %></td>
    <td><%= link_to 'Destroy', falla, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New falla', new_falla_path %>