<h1>New falla</h1>

<% form_for(@falla) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :equipo %><br />
    <%= f.text_field :equipo %>
  </p>
  <p>
    <%= f.label :alarma %><br />
    <%= f.text_field :alarma %>
  </p>
  <p>
    <%= f.label :tipo_falla %><br />
    <%= f.text_field :tipo_falla %>
  </p>
  <p>
    <%= f.label :fecha_inicio_falla %><br />
    <%= f.datetime_select :fecha_inicio_falla %>
  </p>
  <p>
    <%= f.label :fecha_fin_falla %><br />
    <%= f.datetime_select :fecha_fin_falla %>
  </p>
  <p>
    <%= f.label :observaciones_falla %><br />
    <%= f.text_area :observaciones_falla %>
  </p>
  <p>
    <%= f.label :usuario_id_created %><br />
    <%= f.text_field :usuario_id_created %>
  </p>
  <p>
    <%= f.label :usuario_id_update %><br />
    <%= f.text_field :usuario_id_update %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fallas_path %>