<h1>Listing procesos</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Nombre proceso</th>
    <th>Usuario id created</th>
    <th>Usuario id updated</th>
  </tr>

<% @procesos.each do |proceso| %>
  <tr>
    <td><%=h proceso.estado %></td>
    <td><%=h proceso.nombre_proceso %></td>
    <td><%=h proceso.usuario_id_created %></td>
    <td><%=h proceso.usuario_id_updated %></td>
    <td><%= link_to 'Show', proceso %></td>
    <td><%= link_to 'Edit', edit_proceso_path(proceso) %></td>
    <td><%= link_to 'Destroy', proceso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New proceso', new_proceso_path %>