<h1>Editing equipo</h1>

<% form_for(@equipo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :tipo_equipo %><br />
    <%= f.text_field :tipo_equipo %>
  </p>
  <p>
    <%= f.label :subproceso %><br />
    <%= f.text_field :subproceso %>
  </p>
  <p>
    <%= f.label :empresa %><br />
    <%= f.text_field :empresa %>
  </p>
  <p>
    <%= f.label :nombre_equipo %><br />
    <%= f.text_field :nombre_equipo %>
  </p>
  <p>
    <%= f.label :usuario_id_created %><br />
    <%= f.text_field :usuario_id_created %>
  </p>
  <p>
    <%= f.label :usuario_id_update %><br />
    <%= f.text_field :usuario_id_update %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @equipo %> |
<%= link_to 'Back', equipos_path %>