<h1>Listing equipos</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Tipo equipo</th>
    <th>Subproceso</th>
    <th>Empresa</th>
    <th>Nombre equipo</th>
    <th>Usuario id created</th>
    <th>Usuario id update</th>
  </tr>

<% @equipos.each do |equipo| %>
  <tr>
    <td><%=h equipo.estado %></td>
    <td><%=h equipo.tipo_equipo %></td>
    <td><%=h equipo.subproceso %></td>
    <td><%=h equipo.empresa %></td>
    <td><%=h equipo.nombre_equipo %></td>
    <td><%=h equipo.usuario_id_created %></td>
    <td><%=h equipo.usuario_id_update %></td>
    <td><%= link_to 'Show', equipo %></td>
    <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
    <td><%= link_to 'Destroy', equipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New equipo', new_equipo_path %>