<p>
  <b>Estado:</b>
  <%=h @equipo.estado %>
</p>

<p>
  <b>Tipo equipo:</b>
  <%=h @equipo.tipo_equipo %>
</p>

<p>
  <b>Subproceso:</b>
  <%=h @equipo.subproceso %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @equipo.empresa %>
</p>

<p>
  <b>Nombre equipo:</b>
  <%=h @equipo.nombre_equipo %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @equipo.usuario_id_created %>
</p>

<p>
  <b>Usuario id update:</b>
  <%=h @equipo.usuario_id_update %>
</p>


<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>