      <table width='100%' border='0' align='center' id="alarmas">
        <caption>
          <h2>Alarmas</h2>
          <small>Describe las alarmas de los eventos de planta</small>
        </caption>
        <thead>
          <tr>
            <th>Estado</th>
            <th>Nombre de alarma</th>
            <th colspan='2'>Acciones</th>
          </tr>
        </thead>
        <tbody>
        <% @alarmas.each do |alarma| %>
          <tr>
            <td><%= strEstado(alarma.activo) %></td>
            <td><%=h alarma.nombre_alarma %></td>
            <td alarma="<%=h alarma.id %>"><%= link_to image_tag('pencil_16.png', :alt => '', :title => 'Editar'), '#edit_alarma' %></td>
            <td estado="<%=h alarma.activo %>" id="<%=h alarma.id %>"><%= imgEstado(alarma.activo, '#estado_alarma') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="alpha grid_12"><%= link_to image_tag('add_16.png', :alt => '', :title => 'Añadir alarma') + 'Añadir alarma', '#new_alarma', :title => 'Añadir alarma' %></div>
      <div class="omega grid_12 derecha"><%= submit_tag 'Guardar', :title => 'Guardar', :id => "save_new_alarmas", :class => "blue oculto" %> <%= submit_tag 'Cancelar', :title => 'Cancelar', :type => 'reset', :name => 'reset', :id => "cancel_new_alarmas", :class => 'cancel oculto' %></div>
      <div class="clearfix"></div>
