<h1>New alarma</h1>

<% form_for(@alarma) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :estado %><br />
    <%= f.select :estado_id, Estado.find(:all).collect{|p| [p.desc_estado, p.id]}, :selected => @alarma.estado_id %>
  </p>
  <p>
    <%= f.label :nombre_alarma %><br />
    <%= f.text_field :nombre_alarma %>
  </p>
  <p>
    <%= f.text_field :usuario_id_created, :value => current_usuario.ficha, :hidden => true %>
    <%= f.text_field :usuario_id_updated, :value => current_usuario.ficha, :hidden => true %>
  </p>
  <p>
    <%= f.submit 'Create', :class => "blue" %>
  </p>
<% end %>

<%= link_to 'Back', alarmas_path %>
