<p>
  <b>Estado:</b>
  <%=h @alarma.estado.desc_estado%>
</p>

<p>
  <b>Nombre alarma:</b>
  <%=h @alarma.nombre_alarma %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @alarma.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @alarma.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_alarma_path(@alarma) %> |
<%= link_to 'Back', alarmas_path %>
