<p>
  <b>Estado:</b>
  <%=h @punto_tolva.estado %>
</p>

<p>
  <b>Desc punto tolva:</b>
  <%=h @punto_tolva.desc_punto_tolva %>
</p>

<p>
  <b>Minimo punto tolva:</b>
  <%=h @punto_tolva.minimo_punto_tolva %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @punto_tolva.usuario_id_created %>
</p>

<p>
  <b>Usuario id update:</b>
  <%=h @punto_tolva.usuario_id_update %>
</p>


<%= link_to 'Edit', edit_punto_tolva_path(@punto_tolva) %> |
<%= link_to 'Back', punto_tolvas_path %>