<h1>Listing transportes</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Tipo transporte</th>
    <th>Empresa</th>
    <th>Cod sap buque transporte</th>
    <th>Nombre transporte</th>
    <th>Capacidad transporte</th>
    <th>Usuario id created</th>
    <th>Usuario id update</th>
  </tr>

<% @transportes.each do |transporte| %>
  <tr>
    <td><%=h transporte.estado %></td>
    <td><%=h transporte.tipo_transporte %></td>
    <td><%=h transporte.empresa %></td>
    <td><%=h transporte.cod_sap_buque_transporte %></td>
    <td><%=h transporte.nombre_transporte %></td>
    <td><%=h transporte.capacidad_transporte %></td>
    <td><%=h transporte.usuario_id_created %></td>
    <td><%=h transporte.usuario_id_update %></td>
    <td><%= link_to 'Show', transporte %></td>
    <td><%= link_to 'Edit', edit_transporte_path(transporte) %></td>
    <td><%= link_to 'Destroy', transporte, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transporte', new_transporte_path %>