<p>
  <b>Estado:</b>
  <%=h @transporte.estado %>
</p>

<p>
  <b>Tipo transporte:</b>
  <%=h @transporte.tipo_transporte %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @transporte.empresa %>
</p>

<p>
  <b>Cod sap buque transporte:</b>
  <%=h @transporte.cod_sap_buque_transporte %>
</p>

<p>
  <b>Nombre transporte:</b>
  <%=h @transporte.nombre_transporte %>
</p>

<p>
  <b>Capacidad transporte:</b>
  <%=h @transporte.capacidad_transporte %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @transporte.usuario_id_created %>
</p>

<p>
  <b>Usuario id update:</b>
  <%=h @transporte.usuario_id_update %>
</p>


<%= link_to 'Edit', edit_transporte_path(@transporte) %> |
<%= link_to 'Back', transportes_path %>