<h1>Editing empresa</h1>

<% form_for(@empresa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :nombre_empresa %><br />
    <%= f.text_field :nombre_empresa %>
  </p>
  <p>
    <%= f.label :pais_empresa %><br />
    <%= f.text_field :pais_empresa %>
  </p>
  <p>
    <%= f.label :responsable_empresa %><br />
    <%= f.text_field :responsable_empresa %>
  </p>
  <p>
    <%= f.label :usuario_id_created %><br />
    <%= f.text_field :usuario_id_created %>
  </p>
  <p>
    <%= f.label :usuario_id_updated %><br />
    <%= f.text_field :usuario_id_updated %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @empresa %> |
<%= link_to 'Back', empresas_path %>