<h1>Listing empresas</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Nombre empresa</th>
    <th>Pais empresa</th>
    <th>Responsable empresa</th>
    <th>Usuario id created</th>
    <th>Usuario id updated</th>
  </tr>

<% @empresas.each do |empresa| %>
  <tr>
    <td><%=h empresa.estado %></td>
    <td><%=h empresa.nombre_empresa %></td>
    <td><%=h empresa.pais_empresa %></td>
    <td><%=h empresa.responsable_empresa %></td>
    <td><%=h empresa.usuario_id_created %></td>
    <td><%=h empresa.usuario_id_updated %></td>
    <td><%= link_to 'Show', empresa %></td>
    <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
    <td><%= link_to 'Destroy', empresa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New empresa', new_empresa_path %>