<h1>Editing estado</h1>

<% form_for(@estado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :desc_estado %><br />
    <%= f.text_field :desc_estado %>
  </p>
  <p>
    <%= f.label :usuario_id_created %><br />
    <%= f.text_field :usuario_id_created %>
  </p>
  <p>
    <%= f.label :usuario_id_updated %><br />
    <%= f.text_field :usuario_id_updated %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @estado %> |
<%= link_to 'Back', estados_path %>