<p>
  <b>Desc estado:</b>
  <%=h @estado.desc_estado %>
</p>

<p>
  <b>Usuario id created:</b>
  <%=h @estado.usuario_id_created %>
</p>

<p>
  <b>Usuario id updated:</b>
  <%=h @estado.usuario_id_updated %>
</p>


<%= link_to 'Edit', edit_estado_path(@estado) %> |
<%= link_to 'Back', estados_path %>