<h1>Listing tipo_equipos</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Nombre tipo equipo</th>
    <th>Usuario id created</th>
    <th>Usuario id updated</th>
  </tr>

<% @tipo_equipos.each do |tipo_equipo| %>
  <tr>
    <td><%=h tipo_equipo.estado %></td>
    <td><%=h tipo_equipo.nombre_tipo_equipo %></td>
    <td><%=h tipo_equipo.usuario_id_created %></td>
    <td><%=h tipo_equipo.usuario_id_updated %></td>
    <td><%= link_to 'Show', tipo_equipo %></td>
    <td><%= link_to 'Edit', edit_tipo_equipo_path(tipo_equipo) %></td>
    <td><%= link_to 'Destroy', tipo_equipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipo_equipo', new_tipo_equipo_path %>