<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= yield(:titulo) || controller.action_name %> | Socialum - CVG Bauxilum</title>
	<meta name="description" content="Aplicación transaccional y de gestión de eventos de los procesos de arribo, descarga, apilamiento, recuperación, alimentación, almacenamiento y despacho de materia prima y producto terminado de CVG Bauxilum" />
	<meta name="author" content="Carlos Betancourt Carrero" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag "libs/modernizr-1.7.min.js", :cache => true %>
</head>
<body>
  <div class="container_24" id="dialogo"></div>
  <section id="top_bar">
    <div class="container_24">
    <% if user_signed_in? %>
      <p class="grid_12">
        <span class="ayuda"><a href="#help">Ayuda</a></span><% if can? :manage, User %>  |  <span class="configuracion"><%= link_to 'Configuración', :controller => 'configuracion' %></span><% end %>
      </p>
    <% end %>
    <% if user_signed_in? %>
      <p class="grid_12 derecha">
        <span class="persona" id="ficha" data-ficha="<%= current_user.id %>"><%= current_user.login.split('.').join(' ').titleize %></small></span>  |  <span class="logout"><%= link_to('Salir', destroy_user_session_path) %></span>
      <% else %>
      <p class="grid_24 derecha">
        <span class="persona"><%= link_to('Login', new_user_session_path)  %></span>
      <% end %>
      </p>
      <div class="clearfix"></div>
    </div>
  </section>
  <header>
    <div class="container_24">
      <div class="grid_5 suffix_7 logo">
        <%= image_tag "sa_header_logo_socialum.png", :alt => "Socialum - Socialización de la información e integración de los procesos productivos del sector aluminio", :title => "Socialum - Socialización de la información e integración de los procesos productivos del sector aluminio" %>
      </div>
      <ul class="prefix_7 grid_5 derecha">
        <li><%= image_tag "sa_cvg_logo.jpg", :alt => "Corporación Venezolana de Guayana - ¡Corporación al Socialismo!", :title => "Corporación Venezolana de Guayana - ¡Corporación al Socialismo!" %></li>
        <li><%= image_tag "sa_bauxilum_logo.jpg", :alt => "CVG Bauxilum", :title => "CVG Bauxilum" %></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </header>
  <nav id="menu">
    <ul class="container_24">
      <li class="overview <%= activo('overview') %>" title="Reporte overview">
        <%= link_to 'Overview', :controller => 'overview' %>
        <span class="flecha"> </span>
      </li>
      <li class="arribos <%= activo('arribos') %>" title="Arribos y descargas de materia">
        <%= link_to 'Arribos y descargas', :controller => 'arribos' %>
        <span class="flecha"> </span>
      </li>
      <li class="novedades  <%= activo('noovedades') %>" title="Reportes de novedades y fallas">
        <%= link_to 'Novedades', :controller => 'novedades' %>
        <span class="flecha"> </span>
      </li>
    </ul>
  </nav>
  <%= yield :tabulador, :cache => true %>
  <section id="main" role="main" class="container_24 <%= yield(:main_clases) || nil %>">
  <% if flash[:success]%>
    <div class="exito">
      <span class="cerrar"> </span>
      <p><%= flash[:success]%></p>
    </div>
  <% end %>
  <% if flash[:warning]%>
    <div class="advertencia">
      <span class="cerrar"> </span>
      <p><%= flash[:warning]%></p>
    </div>
  <% end %>
  <% if flash[:error]%>
    <div class="error">
      <span class="cerrar"> </span>
      <p><%= flash[:error]%></p>
    </div>
  <% end %>
  <% if flash[:notice]%>
    <div class="info">
      <span class="cerrar"> </span>
      <p><%= flash[:notice]%></p>
    </div>
  <% end %>
    <%= yield %>
  </section>    
  <%= javascript_include_tag 'libs/jquery.min', 'plugins', 'application', :cache => true %>
  <%= yield :jquery_scripts, :cache => false %>
  <!--[if lt IE 7 ]>
  <script src="javascripts/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
</body>
</html>
