<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login | Socialum - CVG Bauxilum</title>
	<meta name="description" content="Aplicación transaccional y de gestión de eventos de los procesos de arribo, descarga, apilamiento, recuperación, alimentación, almacenamiento y despacho de materia prima y producto terminado de CVG Bauxilum">
	<meta name="author" content="Carlos Betancourt Carrero">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag "libs/modernizr-1.7.min.js", :cache => true %>
</head>
<body>
	<div id="login">
 		<header>
     	<div class="logo centro">
       	<%= image_tag "sa_header_logo_socialum.png", :alt => "Socialum - Socialización de la información e integración de los procesos productivos del sector aluminio", :title => "Socialum - Socialización de la información e integración de los procesos productivos del sector aluminio" %>
     	</div>
 		</header>
 		<%= yield %>
  </div>
  <%= javascript_include_tag "libs/jquery.min.js", "script.js", :cache => true %>
  <!--[if lt IE 7 ]>
  <script src="javascripts/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
</body>
</html>
